# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.env
.env.*

# =========================
# DATA / CACHE
# =========================
*.csv
*.pkl
*.joblib
*.db
*.sqlite3

# =========================
# LOGS
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# TEST / TEMP
# =========================
.pytest_cache/
.mypy_cache/.env
node_modules/
